  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0 ;
  }
  
  body {
    margin: auto;
    font-family: 'Inter', sans-serif;
  }
  
  /* Nav bar styling */
  #navbar {
    display: flex;
    background-color: #3e3c3c;
    align-items: center;
    justify-content: space-between;
    padding: 0 10.8vw 0 10.5vw;
  }
  
  
  #logo {
    width:auto;
    height: 5vw;
    border-radius: 50%;
  }
  #menu-icon{
    display: none;
  }
  .desk-nav{
    margin-right: 2.2vw;
    font-weight: 600;
    font-size: 1vw;
  }
  #desk-nav{
    display: flex;
    align-items: center;

 
  }
  a {
    text-decoration: none;
    color: #fff;
  }
  
  .no-style-deco {
    list-style: none;
  }
  
  .white {
    color: #fff;
  }
  #home {
    background-image: url(media/desktop-header.png);
    background-color: #1c1a19;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size:45%;
    background-position: right top;
    display: flex;
    padding: 13.3vw 47vw 17.4vw 2.5vw;
    align-items: center;
  }
  
  .orange-color {
    color: #f55800;
    font-family: 'Crete Round', serif;
    font-size: 5vw;
    font-weight: 400;
  }
  
  .text {
    font-weight: 400;
    font-size: 1.4vw;
    line-height: 2.2vw;
  }
  
  #home h2 {
    font-weight: 500;
    font-size: 2.2vw;
    color: #FFFFFF;
    margin: 1.7vw 0;
  }
  
  /* Social media links styling */
  #social-items {
    margin-right: 6vw;

  }
  
  .social-item {
    margin-top: 1.4vw;
  }
  #projects {
   
    margin: 9.4vw 10vw 9vw 9.8vw;
  }

  #project-intro{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  #work-title {
    width: 22vw;   
  }
  .project-title{
    font-family: 'Crete Round', sans-serif;
    font-size: 2.8vw;
    font-weight: 400;
  }
  article{
    width: 31vw;
    margin-top: 2vw;

  }
  article p{
    font-weight: 400;
    margin: 1.7vw 0;
   

  }
  
  .line {
    border: 0.035vw solid #212121;
    width: 54vw;


  }
  
  #work-cover {
    width: 46vw;
    height: auto;
    margin:8vw 0 1.7vw 0;
    float: left;
    
  }
  #project-items{
    display: grid;
    grid: repeat(2, 30vw)/repeat(3, 25.6vw);
    grid-gap: 2.6vw 1.7vw;
  }
  .project-item {
    background-image: url("media/Img Placeholder.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content:end;
    
    }
  
  .title {
    font-family: "crete Round", sans-serif;
    font-weight: 400;
    font-size: 2.2vw;
    color: #FFFFFF;
    
  }
  .project-item .text{
    color: #FFFFFF;
    font-size: 1.2vw;
    line-height: 1.7vw;
    margin: 1.7vw 0;
  }
  
  .grey-button{
    float: left;
    background-color: rgba(255, 255, 255, 0.24);
    color: #fff;
    border: inherit;
    font-weight: 500;
    font-size: 1vw;
    padding: 0.7vw 0.83vw;
    margin-right: 0.83vw;
  }
  .no-orange-button .orange-button{
    display: none;
  }
  .no-orange-button{
    padding: 1.1vw;
    
  }
  #empty-banner h2, #empty-banner p, #empty-banner ul{
    display: none;
  }
  .orange-button {
    background-color: #ff6b00;
    padding: 1.2vw 0;
    font-weight: 700;
    font-size: 1.2vw;
    color: #fff;
    border: inherit;
  }
  article .grey-button{
    color: #091E42;
    border:0.07vw solid #8993A4;
    margin-right: 1vw;
    padding: 0.75vw 0.9vw;
  }
  .art-btn {
    background-color: #ff6b00;
    padding: 0.83vw;
    border: inherit;
    font-size: 1.2vw;
    font-weight: 700;
    color: #fff;
    margin-top: 1.7vw;
  
  }
  #empty-banner{
    background-image: url("media/Img 1.png");
  }
  #work-2, #work-5{
    background-image: url("media/Img 2 5.png");
  }
  #work-3, #work-6{
    background-image: url("media/Img 3 6.png");
  }

  #about {
  background: #1c1a19;
}


#intro {
  padding: 9vw 10vw 10vw 10vw;
  background-image: url("media/desktop-about-me back.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 40vw;
}
#intro-p {
margin: 1.7vw 0;
color: #FFFFFF;
width: 40vw;
}
#abt-line {
  border: 0.07vw solid #fff;
  width: inherit;
  margin: 10vw;
}

#cv {
display: flex;
justify-content: space-between;
padding:0 10vw 10vw 10vw;

}


.list-item {
  color: #fff;
  margin-top: 2.2vw;
  font-size: 1.5vw;
  font-weight: 400;
  line-height: 3vw;
}
.skill img{
  width: 1.25vw;
  height: auto;
}




 
 