  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0 ;
  }
  
  body {
    margin: auto;
    font-family: 'Inter', sans-serif;
  }
  
  /* Nav bar styling */
  #navbar {
    display: flex;
    background-color: #3e3c3c;
    align-items: center;
    justify-content: space-between;
    padding: 0 10.8vw 0 10.5vw;
  }
  
  
  #logo {
    width:auto;
    height: 5vw;
    border-radius: 50%;
  }
  #menu-icon{
    display: none;
  }
  .desk-nav{
    margin-right: 2.2vw;
    font-weight: 600;
    font-size: 1vw;
  }
  #desk-nav{
    display: flex;
    align-items: center;

 
  }
  a {
    text-decoration: none;
    color: #fff;
  }
  
  .no-style-deco {
    list-style: none;
  }
  
  .white {
    color: #fff;
  }
  #home {
    background-image: url(media/desktop-header.png);
    background-color: #1c1a19;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size:45%;
    background-position: right top;
    display: flex;
    padding: 13.3vw 47vw 17.4vw 2.5rem;
    align-items: center;
  }
  
  .orange-color {
    color: #f55800;
    font-family: 'Crete Round', serif;
    font-size: 5vw;
    font-weight: 400;
  }
  
  #home p {
    font-weight: 400;
    font-size: 1.4vw;
    line-height: 2.2vw;
  }
  
  #home h2 {
    font-weight: 500;
    font-size: 2.2vwrem;
    color: #FFFFFF;
    margin: 1.7vw 0;
  }
  
  /* Social media links styling */
  #social-items {
    margin-right: 6vw;

  }
  
  .social-item {
    margin-top: 1.4vw;
  }
  