html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: inter, sans-serif;
  width: 100%;
  overflow-x: hidden;
}

/* Nav bar styling */
nav {
  display: flex;
  background-color: #3e3c3c;
  align-items: center;
  justify-content: space-between;
}

#logo {
  font-weight: 700;
  margin-left: 15rem;
  font-size: 2rem;
}

/* button:enabled{
  padding: 1.2rem;
  color: #fff;
  background-color: #F55800;
} */

button:active {
  padding: 1.2rem;
  color: #fff;
  background-color: #e05304;
}

button:hover {
  padding: 1.2rem;
  border: solid #f55800;
  color: #f55800;
  background-color: #fff5e1;
}

button:disabled {
  padding: 1.2rem;
  color: #5b5957;
  background-color: #f4f1f0;
}

li button:active {
  padding: 1.2rem;
  color: #fff;
  background-color: #e05304;
}

li button:hover {
  padding: 1.2rem;
  border: solid #f55800;
  color: #f55800;
  background-color: #fff5e1;
}

li button:disabled {
  padding: 1.2rem;
  color: #5b5957;
  background-color: #f4f1f0;
}

.nav-item a,
header #logo {
  text-decoration: none;
  color: #fff;
}

#logo:hover,
.nav-item a:hover {
  background-color: #fff5e1;
  border: solid #f55800;
  padding: 5px;
  color: #1f1e1e;
}

#menu {
  display: flex;
  align-items: center;
  justify-content: end;
}

.nav-item {
  padding: 1rem 1.2rem;
  margin: 1.2rem;
  font-weight: 600;
  font-size: 1.5rem;
}

#nav-icon {
  padding: 2rem;
  margin-right: 12rem;
}

@media screen and (min-width: 768px) {
  #menu-icon {
    display: none;
  }
}

#nav-icon:hover,
.social-item img:hover {
  border: solid #f55800;
  padding: 5px;
}

/* Home section styling */
#home {
  background-image: url(media/Illustration-header.png);
  background-color: #1c1a19;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 40%;
  height: 25%;
  max-width: 100%;
  background-position: right;
  display: flex;
  padding-bottom: 20rem;
}

/* Social media links styling */
#social {
  display: flex;
  flex-direction: column;
  margin: 2rem 6rem 0 0;
  align-self: center;
}

.social-item {
  margin: 2rem 1.5rem;
}

/* Bio Styling */
#bio {
  margin-top: 15rem;
  width: 47%;
}

#bio p {
  font-size: 200%;
  line-height: 150%;
}

.orange-color {
  color: #f55800;
  font-family: 'Crete Round', sans-serif;
  font-size: 600%;
  margin-bottom: 0%;
}

#bio h2 {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.2rem;
}

.no-style-deco {
  list-style: none;
}

.white {
  color: #fff;
}

/* Mobile responsiveness */
@media screen and (max-width: 768px) {
  /* Mobile Navbar styling */
  #menu {
    display: none;
  }

  #logo,
  #menu-icon {
    margin: 1.2rem;
    padding: 1.2rem;
  }



  /* Home section mobile styling */
  #home {
    display: flex;
    flex-direction: column;
    background-position-y: bottom;
    background-size: 25%;
  }

  #social-items {
    display: flex;
    flex-direction: row;
    margin: inherit 0;
    padding-left: 0;
  }

  #bio {
    width: 75%;
    margin-left: 2rem;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .social-item {
    margin: 0 1rem;
    padding-left: 0;
  }

  #social {
    margin-top: 0;
    padding-top: 0;
    order: 2;
  }

  /* Styling works section */
  #projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
  }

  .title {
    font-family: 'Crete Round', sans-serif;
    font-weight: 400;
    font-size: 3.2rem;
    padding: 2rem 0;
    margin-top: 12rem 0 2.4rem 0;
  }

  #works {
    margin-top: 12rem;
    margin-bottom: 8rem;
  }

  hr {
    size: 1px;
    color: #1c1a19;
    margin: 5rem 0;
  }

  .project {
    background: url("media/art.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 7.2rem;
    margin-top: 1rem;
  }

  .grid-container {
    display: grid;
    grid-template-rows: auto auto auto auto auto auto;
    row-gap: 0.1rem;
    align-items: center;
    justify-content: center;
  }

  #projects img {
    width: 100%;
  }

  #projects article {
    text-align: center;
  }

  .text {
    font-size: 1.6rem;
    font-weight: 400;
    margin: 2rem;
  }

  .grid-item h2 {
    margin: 2rem;
  }

  #work-1 {
    color: #1c1a19;
  }

  button {
    padding: 1rem 1.2rem;
    font-weight: 500;
    margin: 1.2rem;
    border: none;
    background-color: inherit;
  }

  .orange-button {
    display: block;
    background-color: #ff6b00;
    padding: 1.2rem;
    margin-left: 2.4rem;
    font-weight: 700;
    width: inherit;
    color: #fff;
  }

  article button {
    border: solid #8993a4;
  }

  .btn {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    grid-template-rows: auto auto;
    align-items: end;
    justify-content: space-around;
    color: #1c1a19;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  li .orange-button {
    width: 100%;
    margin: 0;
  }

  .project li button {
    background: rgba(255, 255, 255, 0.24);
    color: #fff;
  }

  /* STyling the About me section */
  #about {
    color: #fff;
    background-color: #1c1a19;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  #intro {
    background-image: url("media/about-me.png");
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: bottom;
    margin-top: 10rem;
    padding-top: 12rem;
    padding-bottom: 22rem;
  }

  #about hr {
    color: #fff;
    margin: 0;
  }

  #cv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    list-style: none;
  }

  .list-item {
    margin: 1.6rem 0;
    padding: 2rem 15rem;
    font-size: 2.2rem;
    font-weight: 400;
  }

  #cv img {
    margin-right: 2rem;
  }

  #about-me {
    margin: 2.4rem;
  }
}
